block content
  .card
    img(src="../image/platter.jpg")
    div.card-body(style= "background-color:#ff7f00")
      h2.card-title.text-center(style="color:white") 명지플레이트
      p.card-text.text-center(style="color:#FDE5B3") 명지대학교 주변 맛집을 추천해드릴께요!
      p.card-text.text-center(style="color:#FDE5B3") 내가 아는 맛집이 있다면 추가하고, 맛집 리스트에서 가고싶은 곳을 찾아보아요!